---
import { Image } from 'astro:assets';
import ProductLinks, { type LinkButton }  from './ProductLinks.astro';

interface Props {
    projectType: string;
    image: ImageMetadata;
    title: string;
    summary: string;
    buttonStyle: string;
    linkButtons?: LinkButton[];
    loomEmbedSrc?: string;
}

const { projectType, image, title, summary, buttonStyle, linkButtons, loomEmbedSrc } = Astro.props as Props;

const isVideoLink = linkButtons?.some(button => button.isVideoLink);
---

<div class="relative text-light w-full flex flex-col lg:flex-row items-stretch lg:items-center justify-center lg:justify-between lg:pb-8">
    <div class="relative w-full lg:w-1/2 mb-8 lg:mb-0 lg:mr-16">
        <Image
            src={image}
            alt={title}
            width="600"
            height="600"
            class="w-full h-full object-cover bg-transparent rounded transition-opacity duration-300"
            loading="lazy"
            id="heroImage"
        />
        {isVideoLink && loomEmbedSrc && (
            <div id="loomEmbed" class="hidden absolute left-0 w-full z-20">
                <div class="relative w-full h-0 pb-[56.25%]">
                    <iframe
                        src={loomEmbedSrc}
                        frameborder="0"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"
                    ></iframe>
                </div>
            </div>
        )}
    </div>
    <div class="flex flex-col items-start max-w-fit mx-0 lg:w-1/2">
        <span class="inline-block bg-gray-800 px-3 py-1 uppercase text-xs font-semibold rounded-full mb-4">{projectType}</span>
        <h1 class="text-3xl md:text-4xl font-bold mb-4">{title}</h1>
        <p class="mb-6 text-lg">{summary}</p>
        <ProductLinks
            linkButtons={linkButtons}
            buttonStyle={buttonStyle}
            displayTitle={false}
            displayVideoLink={true}
        />
    </div>
</div>

<style>
    a {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }
    #loomEmbed {
        top: 50%;
        transform: translateY(-50%);
        height: auto;
    }
</style>


<script>
    import { initVideoToggle } from '../../scripts/videoToggle.ts';
    initVideoToggle();
</script>
